.product-container {
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 400px;
    background-color: seagreen;
    margin: 50px 20px;
    box-sizing: border-box;
}

.product-details a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.product-details .image {
    width: 80px;
    height: 80px;
    float: right;
}

.product-details p {
    font-size: 16px;
    color: #fff;
}
  
.product-details {
    flex: 1;
}

.product-details img {
    max-width: 100%;
}

.product-details iframe {
    width: 100%;
    height: 300px; /* Adjust as needed */
}

.product-actions {
    display: flex;
    justify-content: flex-end;
}

.product-actions a img {
    width: 30px;
    height: 30px;
}

.product-actions button img {
    width: 30px;
    height: 30px;
}

.like-button,
.dislike-button {
    margin-bottom: 10px;
}

.product-actions button {
    margin-inline-start: 15px;
}

.price {
    color: #fff;
}